// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: #5c3b78; // Thats a sample how you could change a BootStrap variable.

$box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);

$headings_font: 'PT Sans', sans-serif;

